html {
  height: 100%;
}

body{
  /* background-color: #232f3e;*/
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-content{
  width: 80%;
  margin: auto;
}

.birthday-message{
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  text-transform:uppercase;
  margin-top: 20VH;
}

.fund-notes{
  text-align: left;
  font-size: 14px;
  color: #fff;
}

.fund-notes a{
  color: inherit;
}

#chart-div{

}
